# Byte-compiled / optimized / DLL files
***/_pycache_/
*.py[cod]
*.so

# Virtual environment
venv/
env/
myenv/
ENV/
*.env
*.venv
*.egg-info/

# Flask stuff
instance/
*.db
*.sqlite3

# IDE/editor configs
.vscode/
.idea/
*.swp

# OS generated
.DS_Store
Thumbs.db

# Logs
*.log
.env

client/node_modules/
server/node_modules/
model/*.h5


# Python virtual environment
flask_api/myenv/
venv/
env/

# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Flask stuff
instance/
*.sqlite3
*.db

# Logs
*.log

# React / Node stuff
node_modules/
build/
dist/

# Misc
.DS_Store
.env
*.env

# VSCode
.vscode/



# Ignore training and testing image data folders
# /training/
# /testing/

# # Ignore large model checkpoints
# /training_checkpoints/